*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: fit-content;
}

header{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 64);
}

header h1{
    font-size: 20px;
    font-weight: 100;
    color: white;
}

header nav{
    display: flex;
    gap: 40px;
}

header nav a{
    color: white;
    font-size: 15px;
}

header nav a:hover{
    border-bottom: 2px solid white;
}

main{
    width: 100%;
    height: fit-content;
}

.home{
    background-color: rgb(3, 3, 64);
    background-size: cover;
    width: 100%;
    height: calc(100% - 70px);
    background-position: center center;
}

.home span{
    padding: 65px 70px;
    display: flex;
    flex-direction: row;
}

.home span div{
   
    background-color: rgb(3, 3, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.home img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.home b{
    color: white;
    margin-top: 10px;
}

.home p{
    color: white;
    font-size: 50px;
    font-weight: 200;
}

.home a{
    margin-right: 290px;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: 1s;
    color: white;
    border: 1px solid white;
}

.home a:hover{
    background-color: white;
    color: black;
}

.recent-projects{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 0;
    gap: 50px;
}

.recent-projects h2{
    font-size: 45px;
    font-weight: 100;
}

.recent-projects div{
    width: 100%;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    background-color: white;
}

.recent-projects img{
    width: 150px;
    height: 150px;
    border: 4px solid orange;
    object-fit: cover;
}

.people{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 50px;
    background-color: whitesmoke;
}

.people h3{
    font-size: 35px;
    font-weight: 100;
}

.people span{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.people div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 40px 100px;
}

.people div article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 20px;
    padding: 30px 2px;
}

.people article p{
    font-size: 15px;
    padding: 0 30px;
    font-weight: 100;
}

.people img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid orange;
    border-radius: 50%;
    object-fit: cover;
}

.people b{
    color: rgb(7, 7, 120);
    font-size: 15px;
}

footer{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

footer p{
    font-size: 10px;
    font-weight: 100;
}